* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background: #f4f4f4;
}


header {
  background: #222;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

nav a:hover {
  color: #ffd700;
}


.home {
  height: 90vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


section {
  padding: 40px;
  text-align: center;
  background: white;
  margin: 20px;
  border-radius: 8px;
}

.skill-box span {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #eee;
  border-radius: 5px;
}

ul {
  list-style: none;
}

ul li {
  margin: 8px 0;
}


footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}
